.CreateAsanaPage{
    max-width: 820px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.CreateAsanaPage > div{
    width: 300px;
    margin: 20px 0;
    background-color: var(--main-color);
}

.CreateAsanaPage-title{
    margin: 40px 0;
}

.CreateAsanaPage-imageSelectorContainer{
    min-width: 100%;
    padding: 5px;
    height: 250px;
    position: relative;
    border-radius: 1px;
    border: 1px solid var(--light-text-color);
}
.CreateAsanaPage-fileInput{
    opacity: 0;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.CreateAsanaPage-fileInput:hover{
    cursor: pointer;
}
.CreateAsanaPage-imageSelectorButton{
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.CreateAsanaPage-imagePreviewContainer{
    height: 100%;
    display: flex;
    justify-content: center;
}

.CreateAsanaPage-imageContent{
    width: fit-content;
    position: relative;
    height: 100%;

}
.CreateAsanaPage-image{
    display: block;
    height: 100%;
    
}
.CreateAsanaPage-imageCloseBtn{
    position: absolute;
    top: 0;
    right: 0;
    height: 36px;
    width: 36px;
    padding: 5px;
    border: white;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

#CreateAsanaPage-uploadBtn{
    margin-top: 50px;
    width: 150px;
    align-self: center;
}

.CreateAsanaPage > .CreateAsanaPage-errorMessage, .CreateAsanaPage > .CreateAsanaPage-offlineMessage{
    color: red;
    align-self: center;
    background-color: white;
    text-align: center;
}