.CategoriesPage{
    max-width: 820px;
    margin: auto;
}

.CategoriesPage-title{
    margin: 20px 0 10px 0;
}

.CategoriesPage-container{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 400px 400px;
    gap: 20px;
    width: 90%;
}

.CategoriesPage-card{
    position: relative;
    width: 100%;
    color: inherit;
}

.CategoriesPage-image{
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

.CategoriesPage-name{
    padding: 10px 0;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

@media (max-width: 900px)  {
    .CategoriesPage{
        max-width: 420px;
        margin: auto;
    }
    .CategoriesPage-container{
        display: grid;
        grid-template-columns: 400px;
        gap: 20px;
    }
}