.AsanaCard{
    display: block;
    width: 200px;
    border: 2px black solid;
    border-radius: 10px;
    overflow: hidden;
    background: var(--light-main-color);
}

.AsanaCard-image{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.AsanaCard-details{
    font-size: 16px;
    color: var(--text-color);
    padding: 4px;
}

.AsanaCard-sanskrit{
    font-style: italic;
    font-size: 12px;
    padding: 4px;
}