.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 15px 100px;
    gap: 20px;
}

.Header-menu-item:hover{
    cursor: pointer;
    color: var(--light-main-color);
}

.Header-left{
    text-decoration: none;
    color: var(--text-color);
    height: 50px;
    font-size: 30px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 10px;
}

.Header-logo{
    height: 100%;
}

.Header-center{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

@media (max-width: 600px) {
    .Header{
        padding: 20px 20px;
    }
    .Header-title{
        font-size: 28px;
    }
    .Header-navbar{
        display: flex;
        gap: 20px;
    }
}