@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --main-color: #ddeee7;
    --dark-main-color: #87b9a5;
    --secndary-color: #f7efe4;
    --dark-secondary-color: #fcb380;
    --button-color: #14b776;
    --text-color: #0e1b16;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}