@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --main-color: #def1e9;
    --dark-main-color: #509472;
    --secondary-color: #f7efe4;
    --dark-secondary-color: #fcb380;
    --text-color: #333333;
    --light-text-color: #aab7b2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}