@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --main-color: #99cfb4;
    --light-main-color: #c6edda;
    --secondary-color: #f7efe4;
    --light-secondary-color: #fcb380;
    --text-color: #333333;
    --light-text-color: #aab7b2;
}

html, body {
    height: 100%;
    background-color: var(--light-main-color);
} 


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}